section.list1{background-color: #F0E68C; visibility: hidden; width: 600px;
            position: absolute; left: 0px; width: 600px;}

section.history2{background-color:	#7FFFD4; visibility: hidden;
            position: absolute;  left: 0px; width: 600px;}
            
section.orders3{background-color:	#7FFFD4; visibility: hidden;
            position: absolute;  left: 0px; width: 600px;}